.tag-list {
    // background-color: blue;
    min-height: 5em;
    background-color: #C490D1;
    border-radius: 1em;
    position: relative;
    padding-left: .5rem;
    padding-top: .5rem;
}

.badge {
    background-color: #ABDAFC;
    color: black;
    margin: .3em;
}