.btn-save {
    background-color: #ACACDE;
    font-weight: 600;
}

.markdown {
    min-height: 25rem;
    border: 1px solid;
    border-radius: 1rem;
    display: block;
    padding: 10px;
}

.form {
    width: 90%;
}